@model ErrorViewModel;

@{
    ViewData["Title"] = @Model.StatusCode;
}

@{
    if (Model == null)
    {
        <div class="d-flex justify-content-center">
            <h2 class="text-black">@Model.StatusCode</h2>
        </div>

        <div class="d-flex justify-content-center">
            <div class="col-6">
                <h6 class="text-black text-center">Ocorreu um erro, mas não se preocupe. Nosso time será avisado e iremos corrigir em breve!</h6>
            </div>
        </div>
    }
    else
    {
        <div class="d-flex justify-content-center">
            <h2 class="text-black">@Model.StatusCode - @Model.Title</h2>
        </div>

        <div class="d-flex justify-content-center">
            <div class="col-6">
                <h6 class="text-black text-center">@Model.Message</h6>
            </div>
        </div>
    }
}