@model SupplierViewModel;

@{
    ViewData["Title"] = "Detalhes do fornecedor";
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.CorporateName)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>@Html.DisplayNameFor(model => model.Active)</th>
                <th>@Html.DisplayNameFor(model => model.RegistrationDate)</th>
                <th>@Html.DisplayNameFor(model => model.Phone)</th>
                <th>@Html.DisplayNameFor(model => model.Contact)</th>
                <th>@Html.DisplayNameFor(model => model.Document.Number)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.CorporateName)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Description)
                </td>
                @{
                    if(@Model.Active)
                    {
                        <td>
                            Ativo
                        </td>
                    }
                    else
                    {
                        <td>
                            Inativo
                        </td>
                    }
                }
                <td>
                    @Html.DisplayFor(model => Model.RegistrationDate)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Phone)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Contact)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Document.Number)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Email.EmailAddress)
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr />
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Address.Street)</th>
                <th>@Html.DisplayNameFor(model => model.Address.Number)</th>
                <th>@Html.DisplayNameFor(model => model.Address.Neighborhood)</th>
                <th>@Html.DisplayNameFor(model => model.Address.City)</th>
                <th>@Html.DisplayNameFor(model => model.Address.State)</th>
                <th>@Html.DisplayNameFor(model => model.Address.ZipCode)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.Address.Street)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Address.Number)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Address.Neighborhood)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Address.City)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Address.State)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Address.ZipCode)
                </td>
            </tr>
        </tbody>
    </table>
</div>