@model SupplierViewModel;

@{
    ViewData["Title"] = "Detalhes do fornecedor";
}

<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Razão Social</th>
                <th>Descrição</th>
                <th>Situação</th>
                <th>Data do Registro</th>
                <th>Telefone</th>
                <th>Contato</th>
                <th>Documento</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Name
                </td>
                <td>
                    @Model.CorporateName
                </td>
                <td>
                    @Model.Description
                </td>
                @{
                    if(@Model.Active)
                    {
                        <td>
                            Ativo
                        </td>
                    }
                    else
                    {
                        <td>
                            Inativo
                        </td>
                    }
                }
                    <td>
                    @Model.RegistrationDate
                </td>
                <td>
                    @Model.Phone
                </td>
                <td>
                    @Model.Contact
                </td>
                <td>
                    @Model.Document.Number
                </td>
                <td>
                    @Model.Email.EmailAddress
                </td>
            </tr>
        </tbody>
    </table>
</div>
<hr />
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Rua</th>
                <th>Número</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>CEP</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.Address.Street
                </td>
                <td>
                    @Model.Address.Number
                </td>
                <td>
                    @Model.Address.Neighborhood
                </td>
                <td>
                    @Model.Address.City
                </td>
                <td>
                    @Model.Address.State
                </td>
                <td>
                    @Model.Address.ZipCode
                </td>
            </tr>
        </tbody>
    </table>
</div>