@model IEnumerable<SupplierViewModel>;

@{
    ViewData["Title"] = "Lista de fornecedores";
}

<div class="d-flex">
    <div class="p-2">
        <h1 class="display-4">Fornecedores</h1>
        <div class="justify-content-lg-end">
            <a class="btn btn-primary" asp-action="Create">Novo Fornecedor</a>
        </div>
    </div>
</div>
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.CorporateName)</th>
                <th>@Html.DisplayNameFor(model => model.Document.Number)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Any())
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Name)</td>
                            <td>@Html.DisplayFor(model => item.CorporateName)</td>
                            <td>@Html.DisplayFor(model => item.Document.Number)</td>
                            <td>@Html.DisplayFor(model => item.Email.EmailAddress)</td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    <div class="justify-content-around">
                                        <a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@item.Id">Exibir</a>
                                        <a class="btn btn-warning btn-sm" asp-action="Update" asp-route-id="@item.Id">Atualizar</a>
                                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Remover</a>
                                        <a class="btn btn-secondary btn-sm" asp-action="Address" asp-route-id="@item.Id">Atualizar Endereço</a>
                                        <a class="btn btn-primary btn-sm" asp-action="Activate" asp-route-id="@item.Id">Ativar ?</a>
                                        <a class="btn btn-primary btn-sm" asp-action="Deactivate" asp-route-id=@item.Id>Desativar ?</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="">
                        <td>Ops! Nenhum cadastro encontrado...</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Voltar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>


