@model IEnumerable<CategoryViewModel>;

@{
    ViewData["Title"] = "Lista de Categorias";
}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="p-0 my-3 d-flex justify-content-start">
                <h1 class="display-4">Categorias</h1>
            </div>
        </div>
        <div class="col-6">
            <div class="p-0 my-4 d-flex justify-content-end">
                <a class="btn btn-primary btn-sm me-2" asp-action="Create">Nova Categoria</a>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive table-responsive-sm">
    @{
        if (!Model.Any())
        {
            <div class="container justify-content-center">
                <div class="alert alert-primary text-center">
                    <h3>Ops! Nenhum registro encontrado. Caso queira, adicione uma categoria clicando no botão <strong>Nova Categoria</strong></h3>
                </div>
            </div>
        }
        else
        {
            <table class="table table-sm">
                <thead class="table-dark">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(model => item.Name)</td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    <div class="justify-content-around">
                                        <a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@item.Id" title="Detalhes"><i class="fas fa-search"></i></a>
                                        <a class="btn btn-warning btn-sm" asp-action="Update" asp-route-id="@item.Id" title="Atualizar"><i class="fas fa-edit"></i></a>
                                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id" title="Excluir"><i class="fas fa-trash"></i></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>