@model IEnumerable<ProductViewModel>;

@{
    ViewData["Title"] = "Lista de Produtos";
}


<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="p-0 my-3 d-flex justify-content-start">
                <h1 class="align-content-center">Produtos</h1>
            </div>
        </div>
        <div class="col-6">
            <div class="p-0 my-4 d-flex justify-content-end">
                <a class="btn btn-primary btn-sm me-2" asp-action="Create">Novo Produto</a>
                <a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="Index">Voltar</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    @{
        if (!Model.Any())
        {
            <div class="container justify-content-center">
                <div class="alert alert-primary text-center">
                    <h3>Ops! Nenhum registro encontrado...</h3>
                </div>
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.ImageUpload)</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Price)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img src="~/img/@item.Image" alt="@item.Image" class="img-product" /></td>
                            <td>@Html.DisplayFor(model => item.Name)</td>
                            <td>@Html.DisplayFor(model => item.Price)</td>
                            <td>
                                <div class="d-flex justify-content-end">
                                    <a class="btn btn-primary btn-sm me-2" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-search"></i></a>
                                    <a class="btn btn-primary btn-sm me-2" asp-action="Update" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                                    <a class="btn btn-primary btn-sm me-2" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
                                    <a class="btn btn-primary btn-sm me-2" asp-action="Activate" asp-route-id="@item.Id"><i class="fas fa-thumbs-up"></i></a>
                                    <a class="btn btn-primary btn-sm me-2" asp-action="Deactivate" asp-route-id="@item.Id"><i class="fas fa-thumbs-down"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    }
</div>